<div class="container-content">
  <div class="block-content">
    <div class="block-content__title">
      UBER LITTLE LUNCH
    </div>
    <div class="block-content__main-content_wrapper">
      <div class="block-content__main-content">
        <div class="block-content__main-content_img-wrapper">
          <img src="img/Bild_ueber_LL.png" alt="">
        </div>
        <div class="block-content__main-content_main-title">
          100% Bio und dabei besonders lecker
        </div>
        <div class="block-content__main-content_text">
          <p>
            Die Produkte von Little Lunch sind ideal, wenn mal keine Zeit zum Kochen ist. Unsere leckeren
            und schnell zubereiteten Suppen sind eine sehr gute Alternative zu ungesundem Junk Food. Die
            fruchtigen Little Lunch Smoothies unterstützen darüber hinaus eine bewusste Ernährung und
            können als vitaminreicher Snack unkompliziert in den stressigen Alltag integriert werden. Damit
            helfen wir all denen, die sich ausgewogen und zu einem ehrlichenPreis ernähren möchten - egal
            ob im Büro oder zu Hause. Bei der Herstellung unserer Produkte verwenden wir nur ausgewählte
            Zutaten in bester Bio-Qualität. Auf künstliche Zusätze, Aromen, Konservierungsstoffesowie
            Geschmacksverstärker wird bei Little Lunch vollkommen verzichtet!
          </p>
          <p>
            Außerdem sind wir, von Little Lunch der Meinung, dass Bio-Produkte sich auch ordentlich
            einkleiden sollten. Also weg mit dem Plastik und rein ins Glas! Sind die Gläser leer, können sie
            dank grünem Punkt übrigens ganz einfach über die Rückführung in einen Altglas-Container
            recycelt werden. Unsere leckeren Little Lunch Suppen und Smoothies liefern wir Dir in schicken
            6er Boxen aus 100% Recycling-Kartonagen ganz bequem nach Hause oder direkt ins Büro. Und
            das sogar noch komplett CO2 neutral, dank DHL GoGreen.
         </p>
        </div>
      </div>
      <div class="block-content__main-content">
        <div class="block-content__main-content_img-wrapper">
          <img src="img/Tomate_Thai_Italy.png" alt="">
        </div>
        <div class="block-content__main-content_main-title">
          Die Suppen von Little Lunch
        </div>
        <div class="block-content__main-content_text">
          <img src="img/Mood_Tomatensuppe.jpg" alt="">
          <p>
            Im Juni 2014 begann die Little Lunch Erfolgsstory mit unseren ersten fünf veganen und
            glutenfreien Bio-Suppen. Seitdem bieten wir mit unseren Produkten eine schnelle und vor allem
            leckere Alternative zu ungesundem Fast Food. Die Suppen müssen nur noch erwärmt werden
            und schon hat man ein vollwertiges und leckeres Essen. Mittlerweile hat unsere Suppenfamilie
            Zuwachs bekommen und unser Sortiment wurde um 5 weitere Suppen erweitert.
          </p>
          <p>
            Unseren Grundsätzen sind wir dabei immer treu geblieben. All unsere Little Lunch Suppen sind
            Dank eines speziellen Herstellungsverfahren ungekühlt 24 Monate haltbar und machen durch
            ihren geringen Wasseranteil richtig satt.
            Unsere innovativen Rezepte entwickeln wir in gemeinsamer Zusammenarbeit mit dem
            Sternekoch Gerhard Frauenschuh. So machen wir aus altbekannten Suppenklassikern neue,
            besondere Kreationen!
            Die altbekannte <a href="#">Karottensuppe</a> wird durch fruchtige Orangen und Weißwein zu einer richtigen
            Geschmacksexplosion, eine <a href="#">Kürbissuppe</a> verbrüdert sich mit leckeren Mangos für den leicht
            exotischen Touch.
          </p>
          <p>
            Mit unseren ganz eigenen Kreationen wie der chinesischen Suppe <a href="#">“Little
            China”</a> , der mediteranen <a href="#">“Little Italy”</a> , der exotischen <a href="#">“Little Thai”</a> oder der indischen Suppe
            <a href="#">“Little
              India”</a> gehen wir auf Weltreise! Lass Dich von unsere leckeren Kreationen überaschen - so etwas
            hast Du bestimmt noch nie probiert.
            Natürlich haben wir bei Little Lunch auch ein paar klassische Suppen im Sortiment, wie zum
            Beispiel unseren Bestseller, die <a href="#">Tomatensuppe</a> oder unsere neue Little Lunch <a href="#">Kartoffelsuppe</a> .
            Neben acht veganen und glutenfreien Gemüsesuppen, gibt es mittlerweile auch zwei nicht
            vegetarische Varianten für alle Fleischliebhaber: Unsere Hühnersuppe <a href="#">“Little Chicken”</a> und eine
            herzhafte <a href="#">Gulaschsuppe</a> . Beide natürlich wie gewohnt in bester Bio-Qualität.
          </p>
        </div>
      </div>
      <div class="block-content__main-content">
        <div class="block-content__main-content_img-wrapper">
          <img src="img/Green_red_yellow.png" alt="">
        </div>
        <div class="block-content__main-content_main-title">
          Die Smoothies von Little Lunch
        </div>
        <div class="block-content__main-content_text">
          <img src="img/mood_smoothie.jpg" alt="">
          <p>
            Für alle, die für das Frühstück oder einfach zwischendurch nach einem frischen und
            vitaminreichen Snack suchen, gibt es jetzt auch Little Lunch Bio- Smoothies in unserem
            Onlineshop. Gespickt mit allerhand Superfood wie Weizengras, Goji Beeren, Avocado und Maca
            sind sie echte Vitaminbomben, die Dich mit wichtigen Nährstoffen versorgen.
          </p>
          <p>
            Somit sind unsere Little Lunch Smoothies perfekt für alle, die auch im stressigen Alltag auf eine
            bewusste Ernährung achten möchten. Wie auch bei unseren Suppen werden bei der Herstellung
            unserer Smoothies nur 100% Obst und Gemüse in bester Bioqualität verarbeitet. Auf künstliche
            Zusätze jeglicher Art wird auch bei unseren Smoothies bewusst verzichtet.
          </p>
          <p>
            exotische Bio-Smoothie <a href="#">“Yellow”</a> mit Mango, Orange, Maracuja und Gojibeeren. Der cremige
            Bio-Smoothie <a href="#">“White”</a> , ist mit einer Kombination aus Kokosmilch, Banane, Dattel und dem
            Superfood Maca ein wahres Energiebündel. Unser dritter im Bunde ist die ersten Wahl für alle
            Veggie-Lover: Unser Bio-Smoothie <a href="#">“Green”</a> . Der grüne Smoothie von Little Lunch besteht zu
            50% aus knackigem Gemüse wie Spinat, Grünkohl, Gurke und Avocado und wurde zusätzlich
            mit Weizengras angereichert.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
